@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #000000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: #34a853;
    --color-muted: #2e2e2e;
    --color-muted-foreground: #808080;
    /* --font-sans: var(--font-geist-sans); */
    /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #020205;
        --foreground: #ffffff;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
